@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    padding: 1px;
    height: 100vh;
}

body{
    min-height: 100vh;
}

main{
    grid-area: main;
}

main section img{
    width: 100%;
}

footer{
    grid-area: footer;
}
    
/*Navigasjon bar*/

header{
    background-color: rgb(27, 27, 27);
    height: 120px;
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: header;
}

header nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100px;
}

header nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

/*Navgiasjon bar*/

.top-text{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    column-count: 3;
    color: white;
    font-size: x-small;
    font-weight:500;
    column-gap: 33%;
    column-span: all;
    margin: 0;
    padding: 0;
}


.left-column{
    display: none;
}

.middle-column{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.right-column{
    display: none;
}

/*Logo*/

#logo{
    font-family: 'Russo One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: xx-large;
    color: black;
    padding: 30px;
}

/*Navigation bar*/

.navbar{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 25%;
    right: 60%;
    bottom: 25%;
    display: none;
}

.navbar a{
    float:left;
    display: block;
    color: rgb(15, 15, 15);
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: rgb(223, 223, 223);
    color: black;
}

.fa-user, .fa-heart, .fa-bag-shopping, .fa-magnifying-glass, #ham{
    padding: 5px
}

/*Hamburger meny*/

.responsive{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(219, 219, 219);
    margin: 0;
    padding: 0;
    top:40px;
    width: 100%;
    list-style: none;
    gap: 1rem;
}

.responsive a{
    color: rgb(15, 15, 15);
    display: inline-block;
    padding: 0;
    text-decoration: none;
}

/*Svart knapp på forsiden*/

.black-btn{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    padding: 0;
    text-decoration: none;
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.black-btn text{
    display: flex;
    justify-content: center;
}

/*Catalog*/

/*Filter knapper*/

.filter-item{
    display: none;
}

.catalog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin: -15px;
}

.catalog article{
    width: 45%;
    height: 45%;
    overflow: hidden;
    margin: 1%;
    box-sizing: border-box;
}

.catalog img{
    margin: -50px 0px -50px 0px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    max-height: 200px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
  
.price{
    color: grey;
    font-size: 10px;
    text-align: center;
    position: relative;
    top: -30px;
}

/*Text*/

.catalog h2{
    font-size: 10px;
    text-align: center;
    position: relative;
    top: -25px;
}

.catalog h1{
    font-size: 8px;
    text-align: center;
    position: relative;
    top: -20px;
}

/*Products*/

.produkt img{
    display: flex;
    height: 500px;
    width: 500px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.produkt{
    display: flex;
    flex-direction: column;
}

.produkt section{
    padding: 1rem;
    width: 40%;
}   

/*Produkt text*/

.produkt h2{
    position: absolute;
    bottom: 170px;
    left: 40px;
}

.produkt p{
    position: absolute;
    bottom: 130px;
}

.prod-price{
    padding: 1rem;
    width: 40%;
}

.size-container{
    display: none;
}

a{
    text-decoration: none;
    color: black;
}

/*Handlekurv knapp*/

.handlekurv{
    display: block;
    background-color: rgb(15, 15, 15);
    color: rgb(255, 255, 255);
    position: absolute;
    padding: 20px;
    text-align: center;
    bottom: 20px;
    width: 75%;
}

.handlekurv:hover{
    background-color: #383838;
}

/*Størrelse knapper*/

.str{
    display: block;
    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
    position: absolute;
    padding: 20px;
    text-align: center;
    bottom: 80px;
    width: 75%;
}

.str:hover{
    background-color: rgb(165, 165, 165);
}

#kontakt {
    display: none;
}


  /*Index*/
@media only screen and (min-width:600px){
    #grid-container{
        grid-template-areas: "header header header" ". main ." "footer footer footer" ;
    }

    a{
        text-decoration: none;
        color: black;
    }

    /*Nav bar*/

    .right-column{
        display: block;
        width: 33%;
        text-align: center;
        padding-right: 10px;
    }

    .left-column{
        display: block;
        width: 33%;
        text-align: center;
        padding-left: 5px;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        gap: 10px;
        list-style: none;
        margin: 0;
    }   

    #ham, .fa-magnifying-glass{
        display: none;
    }

    /*Index*/
    /*Forside bilder*/

    *{
        box-sizing: border-box;
    }
    
      
    .row{
        display: flex;
    }
      
    .column{
        flex: 100%;
        padding: 1px;
    }

    .row img{
        width: 50vw;
        height: 50vw;
        min-height: 50%;

    }

    .column img{
        width: 48vw;
        height: 80vw;
        min-height: 50%;
    }

    .categories{
        display: flex;
        padding: 0;
    }

    /*Filter*/
    /* Brukte ChatGPT til å hjelp med finne feil med å få knappene ved siden av hverandre */

    .filter-item{
        margin-left: 10px;
        padding: 0;
        display: inline-block;
        list-style: none;
    }

    .filter-item a{
        position: relative;
        left: -15%;
        padding: 10px 103px;
        font-size: 10px;
        background-color: #dddddd;
        color: rgb(16, 16, 16);
        border-radius: 1px;
        text-decoration: none;
    }

    .filter-item:hover a{
        background-color: #6f6f6f;
    }
    
    /*Catalog*/

    .catalog{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        margin: 2px;
    }

    .catalog article{
        width: 23%;
        height: 23%;
        overflow: hidden;
        margin: 1%;
        box-sizing: border-box;
    }

    .catalog img{
        margin: -50px 0px -50px 0px;
    }

    /*Catalog text*/
    
    .price{
        color: grey;
        font-size: 10px;
        text-align: center;
        position: relative;
        top: -30px;
    }

    .catalog h2{
        font-size: 12px;
        text-align: center;
        position: relative;
        top: -25px;
    }

    .catalog h1{
        font-size: 10px;
        text-align: center;
        position: relative;
        top: -20px;
    }

    /*Products*/

    .produkt img{
        display: flex;
        height: 500px;
        object-fit: cover;
        position: absolute;
        width: 50%;
        left: 1%;
        top: 25%;
    }

    .produkt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

    .produkt section{
        padding: 1rem;
        width: 40%;
        position: absolute;
        align-self: center;
        right: 1%;
    }

    /*Størrelse knapper*/

    .size-container {
        display: none;
    }

    .size-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        position: relative;
        left: -40px;
    }

    .size{
        margin: 5px;
        padding: 10px 25px;
        font-size: 10px;
        background-color: #dddddd;
        color: rgb(16, 16, 16);
        text-align: center;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        flex: 0 0 calc(20% - 10px);
    }

    .size:hover{
        background-color: #6f6f6f;
    }

    /*Handlekurv knapp*/

    .handlekurv{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 50px;
        padding: 0;
        text-decoration: none;
        background-color: rgb(30, 30, 30);
        color: rgb(255, 255, 255);
        border-radius: 2px;
        font-weight: 400;
        position: absolute;
        bottom: -50%;
        left: -150%;
        transform: translate(15%, 60%);
        align-content: center;
    }

    .produkt h2{
        position: absolute;
        bottom: 100%;
        left: -19px;
        padding-bottom: 10px;
    }
    
    .prod-price{
        padding: revert;
        padding: 1px;
        top: -40px;
        width: 40%;
        left: -19px;
        bottom: 350px;
    }

    /*Størrelse knapp*/

    .str{
        display: none;
    }
    
    .flex-section{
        display: flex;
        position: fixed;
        flex-direction: row;
        justify-content: space-between;
    }

    .flex-section img{
        width: 50%;
    }

    .flex-section section{
        padding: 1rem;
        width: 40%;
        align-self: center;
    }
    
}