body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    padding: 1px;
}

header{
    background-color: rgb(27, 27, 27);
    height: 90px;
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: header;
}

header nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
}

header nav div{
    display: flex;
    gap: 0;
}

.top-text{
    display: flex;
    justify-content: space-between;
    column-count: 3;
    color: white;
    font-size: x-small;
    font-weight:500;
    column-gap: 33%;
    column-span: all;
    margin: 0;
    padding: 0;
   }


 .left-col {
    width: 33%;
    text-align: left;
 }

 .middle-col {
    width: 33%;
    text-align: left;
 }

 .right-col {
    width: 33%;
    text-align: left;
 }

   

#logo{

    text-decoration: none;

}

.navbar{
    bottom: -40;
    right: 0;
    position: absolute;
    display: none;
}

.navbar a{
    float:left;
    display: block;
    color: rgb(19, 19, 19);
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: aqua;
    color: black;
}

.responsive{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(16, 16, 16);
    margin: 0;
    padding: 0;
    top:40px;
    width: 100%;
    list-style: none;
    gap: 1rem;
}

.responsive a{
    color: azure;
    display: inline-block;
    padding: 0;
    text-decoration: none;
}

.black-btn{
    display: inline-block;
    padding: 0;
    text-decoration: none;
    background-color: rgb(86, 24, 24);
    color: bisque;
    border-radius: 5px;
    font-weight: 400;
}

main{
    grid-area: main;
}

main section img{
    width: 100%;
}

footer{
    grid-area: footer;
}

#services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(179, 179, 179);
    padding: 0;
    justify-content: space-around;
}

#services h2{
    width: 100%;
    text-align: center;
}

#services article{
    max-width: 300px;
    width: 100%;
    min-width: 200px;
}

@media only screen and (min-width:600px){
    #grid-container{
        grid-template-areas: "header header header" ". main ." "footer footer footer" ;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        gap: 10px;
        list-style: none;
        margin: 0;
    }   

    #ham, .fa-magnifying-glass{
        display: none;
    }

        box-sizing: border-box;{
    }
      
    .row{
        display: flex;
    }
      
    .column{
        flex: 100%;
        padding: 1px;
    }

    .row img{
        width: 30vh;
        height: 30vh;
    }

    .column img{
        width: 45vw;
        height: 45vh;
    }

    .categories{
        display: flex;
        padding: 1rem;
    }
    
}